html,
body {
    scroll-behavior: smooth;
}
.glass {
    background: radial-gradient(
            1200px 600px at 10% -10%,
            rgba(0, 31, 77, 0.35),
            transparent 60%
        ),
        radial-gradient(
            1200px 600px at 110% 10%,
            rgba(0, 31, 77, 0.25),
            transparent 60%
        ),
        rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35),
        inset 0 1px 0 rgba(255, 255, 255, 0.06);
}
.divider {
    height: 1px;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.2),
        transparent
    );
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
:root {
    color-scheme: dark;
}
